<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Amerpsoft iDempiere Target" sequenceNumber="1">
  <locations>
    
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" type="InstallableUnit">
      <repository location="https://maven.repository.redhat.com/ga/"/> 
      <unit id="org.idempiere.sdk.feature.group" version="12.0.0.SNAPSHOT"/>
      
      <unit id="org.idempiere.p2.targetplatform.group" version="12.0.0.SNAPSHOT"/>
      
    </location>

    </locations>
</target>