.DS_Store
**/target/
**/bin/
**/lib/*.jar
**/seed/*.jar

/.metadata/
/PostgreSQL/
/Oracle/
/log/
/*.log
/.idpass

/.sonarlint/
**/org.sonarlint.eclipse.core.prefs
/runtime-*.app/
org.idempiere.maven.to.p2/org.idempiere.webservice.client/.settings/
**/org.eclipse.jdt.core.prefs