# Archivos compilados de Java
*.class

# Carpetas de salida comunes
/bin/
/build/
/target/
/out/

# Archivos de configuración de Eclipse (generalmente no deben versionarse)
.classpath
.project
.settings/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales y de respaldo
*.log
*.tmp
*.bak
*.swp
*~

.DS_Store
**/logs/
**/target/
**/bin/
**/lib/*.jar
**/seed/*.jar
/.settings/
/.metadata/
/PostgreSQL/
/Oracle/
/log/
/*.log
/.idpass

/.sonarlint/
**/org.sonarlint.eclipse.core.prefs
/runtime-*.app/
org.idempiere.maven.to.p2/org.idempiere.webservice.client/.settings/
**/org.eclipse.jdt.core.prefs
