/* Sobrescribe el color de fondo para los botones primarios (sclass="z-button-os") */
.z-button.z-button-os,
.z-button.z-button-os:hover,
.z-button.z-button-os:focus {
    background: linear-gradient(to bottom, #FF9800 0%, #FB8C00 100%) !important; /* Degradado naranja */
    border-color: #F57C00 !important; /* Borde naranja m치s oscuro */
    color: white !important; /* Texto blanco para contraste */
}

/* Sobrescribe el tama침o de fuente para todas las etiquetas de campo */
.z-label.z-field-label {
    font-size: 13px !important; /* Un poco m치s grande que el predeterminado */
    color: #424242 !important; /* Un gris m치s oscuro */
}