.rp-href {
	color: #000000;
}
.rp-table {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	border-collapse: collapse;
	width: 90%;
	background-color: #EBF1EF;	
	border-width: 0px;
}
.rp-table th {
	text-align:	center !important;
	padding: 2px;
	font-weight: bold;
	background-color: #E87722;
    font-family: Arial;
    font-size: 14;
	border-width: 1px;
	border-color: black;
	border-width: 2px 1px 2px 0px;
	border-style: solid;
}

.rp-table th:last-child {
	border-width: 2px 0px 2px 0px;
}

.rp-table td {
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	padding: 3px;
	text-align:	right !important;
}

.rp-table td:last-child {
	border-width: 1px 0px 1px 0px;
}

.rp-number {
	background-color: #FFFFFF;
    font-family: Arial;
    font-size: 14;
	text-align: right !important;
	padding: 3px;
}
.rp-text, .rp-href {
	background-color: #FFFFFF;
    font-family: Arial;
    font-size: 14;
	text-align-last: left !important;
	padding: 3px;
}

.rp-date {
	background-color: #FFFFFF;
    font-family: Arial;
    font-size: 14;
	text-align: center !important;
	padding: 3px;
}

.rp-lastgrouprow td {
	border-width: 0px 1px 2px 0px;
	border-color: white #BBBBBB black white;
}

.rp-lastgrouprow td:last-child {
	border-width: 0px 0px 2px 0px;
	border-color: white #BBBBBB black white;
}

.rp-functionrow td {
	background-color: #E87722;
	font-weight: bold;
	border-width: 0px 1px 0px 0px;
}

.rp-functionrow td:last-child {
	border-width: 0px 0px 0px 0px;
}

